@font-face {
    font-family: verdana;
    src: url("../fonts/verdana.ttf");
}
body {
    font-family: verdana, sans-serif;
}

.background {
    background-image: url("../img/background.png");
/*    width: 1366px;*/
    max-width: 100%;
/*    height: 768px;*/
    background-repeat: no-repeat;
/*    padding-top: 20px;*/
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    width: 1064px;
/*    margin-top: 20px;*/
}
.btn-change {
    display: inline-block;
    padding: 15px;
    background-color: darkgoldenrod;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 12px;

}

.header {
       padding-top: 30px;
    margin-bottom: 50px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.header-logo {
    height: 46px;
    text-decoration: none;
    color: #fff;
}

.mainlogo {
    position: relative;
    height: 46px;
}

.mainlogo:hover {
    color: darkgoldenrod;
}

.mainlogo::before {
    content: url("../img/logo.png");
}

.mainlogo:hover::before {
    content: url("../img/logoHover.png");
}

.header-logo-text-small {
    position: absolute;
    top: 0px;
    left: 70px;
    font-size: 17px;
}

.header-logo-text-big {
    position: absolute;
    left: 70px;
    top: 18px;
    font-size: 29px;
    font-weight: bold;
}

.header-contacts {
    text-align: right;
    color: white;
    padding-top: 7px;
}

.header-contacts-number {
    position: relative;
}

.tours {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 547px;
}

.item:hover .caption {
    color: darkgoldenrod;
    transition: 1s;
}

.item:hover .price {
    background-color: darkgoldenrod;
    color: white;
    opacity: 1;
     transition: 1s;
}

.facilities{
    text-decoration: none;
}

.picture {
    width: 307px;
    height: 200px;
    border: 2px solid;
    -moz-border-image: -moz-linear-gradient(top left, white 0%, darkgoldenrod 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, white 0%,darkgoldenrod 100%);
    border-image: linear-gradient(to bottom right, white 0%, darkgoldenrod 100%);
    border-image-slice: 1;
    position: relative;
}

.img1 {
    background-image: url("../img/Layer1.png");
   }

.img2 {
    background-image: url("../img/Layer2.png");
  }

.img3 {
    background-image: url("../img/Layer3.png");
}

.img4 {
    background-image: url("../img/Layer4.png");
    }

.img5 {
    background-image: url("../img/Layer5.png");
     }

.img6 {
    background-image: url("../img/Layer6.png");
   }

.details::after {
    content: '>';
    display: inline-block;
}

.item:hover:.caption {
    color: darkgoldenrod;
    transition-duration: 3s 1s;
}

.caption {
    width: 307px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    font-family: Verdana;
    font-size: 18px;
    }

.price {
    width: 308px;
    height: 63px;
    position: absolute;
    top: 137px;
    color: white;
    opacity: 0;
}


.euro {
    float: left;
    height: 63px;
    font-size: 20px;
    margin-top: 0px;
    padding-top: 16px;
    padding-left: 20px;
}

.from {
    font-family: Verdana;
    font-size: 10px;
}

.from > span {
    font-size: 20px;
    line-height: 25px;
}


.details {
    float: right;
    margin-top: 30px;
    padding-right: 20px;
    font-family: Verdana;
    font-size: 14px;
}



.footer-text {
     color: white;
    text-align: center;
    padding-bottom: 20px;
}

